<template>
  <div class="home">
    <section>
      <div class="gap2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="row merged20" id="page-contents">
                <div class="col-lg-3"></div>
                <div class="friend-list">
                  <ul id="people-list" class="friendz-list">
                    <li v-for="people in peoples" :key="people.id">
                      <a :href="'/people/' + people.id"><figure>
                        <img
                          :src="'/images/people-' + people.id + '.jpeg'"
                          alt=""
                        />
                      </figure>
                      </a>
                      <div class="friendz-meta">
                        <i
                          ><a :href="'/people/' + people.id">
                            {{ people.first_name }} {{ people.surname }}
                            <div><small>{{ people.gender }} {{ people.age }}</small></div>
                          </a></i
                        >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      peoples: {},
    };
  },
  mounted() {
    axios
      .get("/api/people")
      .then((response) => (this.peoples = response.data))
      .catch((error) => console.log(error));
  },
};
</script>