<template>
  <div class="details">
    <section>
      <div class="gap2 gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="row merged20" id="page-contents">
                <div class="col-lg-3">
                  <aside class="sidebar static left">
                    <!-- Shortcuts -->
                    <div  v-if="Object.keys(recommendedCities).length > 0" class="widget">
                      <h4 class="widget-title">Recommended Cities</h4>
                      <p>Your friends loves to travel and we think you should visit:</p>
                      <ul class="activitiez">
                        <li v-for="city in recommendedCities" :key="city.city">
                          <div >
                            <span
                              >{{city.city}}
                              </span
                            >
                            
                          </div>
                        </li>
                       
                      </ul>
                    </div>
                    <!-- recent activites -->

                    <div
                      v-if="Object.keys(friends).length > 0"
                      class="widget stick-widget"
                    >
                      <h4 class="widget-title">My Friends</h4>
                      <ul id="people-list" class="friendz-list">
                        <li v-for="friend in friends" :key="friend.id">
                          <figure>
                            <img
                              :src="'/images/people-' + friend.id + '.jpeg'"
                              alt=""
                            />
                            <span class="status f-online"></span>
                          </figure>
                          <div class="friendz-meta">
                            <i
                              ><a
                                class="__cf_email__"
                                :href="'/people/' + friend.id"
                              >
                                {{ friend.first_name }} {{ friend.surname }}
                              </a></i
                            >
                          </div>
                        </li>
                      </ul>
                    </div>

                     <div
                      v-if="Object.keys(suggestedFriends).length > 0"
                      class="widget friend-list stick-widget"
                    >
                      <h4 class="widget-title">Suggested Friends</h4>
                      <ul id="people-list" class="friendz-list">
                        <li v-for="friend in suggestedFriends" :key="friend.id">
                          <figure>
                            <img
                              :src="'/images/people-' + friend.id + '.jpeg'"
                              alt=""
                            />
                            <span class="status f-online"></span>
                          </figure>
                          <div class="friendz-meta">
                            <i
                              ><a
                                class="__cf_email__"
                                :href="'/people/' + friend.id"
                              >
                                {{ friend.first_name }} {{ friend.surname }}
                              </a></i
                            >
                          </div>
                        </li>
                      </ul>
                    </div>


                  </aside>
                </div>
                <!-- sidebar -->
                <div class="col-lg-6">
                  <div class="central-meta">
                    <div class="new-postbox">
                      <figure>
                        <img
                          :src="'/images/people-' + $route.params.id + '.jpeg'"
                          alt=""
                        />
                      </figure>
                      <div class="newpst-input">
                        <form method="get">
                          <textarea
                            rows="2"
                            placeholder="write something"
                          ></textarea>
                          <div class="attachments">
                            <ul>
                           
                              <li>
                                <button type="submit">Post</button>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- add post new box -->
                </div>
                <!-- centerl meta -->
                <div class="col-lg-3">
                  <aside class="sidebar static right">
                    <div class="widget stick-widget">
                      <h4 class="widget-title">About</h4>
                      <ul class="short-profile">
                        <li>
                          <p>
                            Hi, i am {{ people.first_name }}
                            {{ people.surname }}, a {{ people.gender }} person
                            with {{ people.age }} years old.
                          </p>
                        </li>
                      </ul>
                    </div>

                    <div class="widget">
                      <div class="banner medium-opacity bluesh">
                        <div
                          class="bg-image"
                          style="
                            background-image: url(/images/baner-widgetbg.jpg);
                          "
                        ></div>
                        <div class="baner-top">
                          <span
                            ><img alt="" src="/images/book-icon.png"
                          /></span>
                          <i class="fa fa-ellipsis-h"></i>
                        </div>
                        <div class="banermeta">
                          <p>Hire Pedro Sousa!</p>
                          <span>just a click away</span>
                          <a
                            data-ripple=""
                            title=""
                            href="https://pedro.apostacerta.pt"
                            >go!</a
                          >
                        </div>
                      </div>
                    </div>

                    <div
                      v-if="Object.keys(friendsOfFriends).length > 0"
                      class="widget friend-list stick-widget"
                    >
                      <h4 class="widget-title">Friends of Friends</h4>
                      <ul id="people-list" class="friendz-list">
                        <li v-for="friend in friendsOfFriends" :key="friend.id">
                          <figure>
                            <img
                              :src="'/images/people-' + friend.id + '.jpeg'"
                              alt=""
                            />
                            <span class="status f-online"></span>
                          </figure>
                          <div class="friendz-meta">
                            <i
                              ><a
                                class="__cf_email__"
                                :href="'/people/' + friend.id"
                              >
                                {{ friend.first_name }} {{ friend.surname }}
                              </a></i
                            >
                          </div>
                        </li>
                      </ul>
                    </div>

                   
                  </aside>
                </div>

                <!-- sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "people",
  data() {
    return {
      people: {},
      friends: {},
      friendsOfFriends: {},
      suggestedFriends: {},
      recommendedCities: {},
      id: this.$route.params.id,
    };
  },
  async mounted() {
    axios
      .get("/api/people/" + this.id)
      .then((response) => (this.people = response.data))
      .catch((error) => console.log(error));
    axios
      .get("/api/people/" + this.id + "/friends")
      .then((response) => (this.friends = response.data))
      .catch((error) => console.log(error));
    axios
      .get(
        "/api/people/" + this.id + "/friends-of-friends"
      )
      .then((response) => (this.friendsOfFriends = response.data))
      .catch((error) => console.log(error));
    axios
      .get("/api/people/" + this.id + "/suggested-friends")
      .then((response) => (this.suggestedFriends = response.data))
      .catch((error) => console.log(error));
    axios
      .get("/api/people/" + this.id + "/recommended-cities")
      .then((response) => (this.recommendedCities = response.data))
      .catch((error) => console.log(error));
  },
};
</script>