<template>
  <nav class="navBar">
    <ul >
      <li class="nav-link"><router-link :to="{ name: 'home' }">
        <img
          
          width="100"
          src="/images/logo_prodigentia_normal_smaller.png"
          alt=""
        />
      </router-link></li>

    </ul>
  </nav>
</template>

<script>
export default {
  name: "navbar",
};
</script>